.cards {
    box-shadow: 3px 5px 8px rgb(2, 2, 70);
    padding: 10px;

    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cards:hover {
    filter: invert(45%) sepia(80%) saturate(1500%) hue-rotate(95deg) brightness(95%) contrast(106%);
}